@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Open+Sans:wght@300;400;700;800&family=Sacramento&display=swap");

.survey-form {
  padding: 1% 2%;
}
.notUsed {
  visibility: hidden;
}

.title-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.sub-text {
  font-size: 1rem;
  color: black;
}

.marking {
  color: red;
  font-weight: bold;
}

.checked {
  color: orange;
  font-size: 2rem;
  padding-bottom: 2%;
}

.topics {
  text-align: center;
}

.data-row {
  padding: 1%;
  font-size: 1.25rem;
  background-color: #eeeeee;
  border-radius: 10px;
}

.data-row2 {
  padding: 1%;
  font-size: 1.25rem;
  border-radius: 10px;
}

.content-text {
  font-size: 1.25rem;
}
#comments {
  margin-top: 0.5%;
}

.my-dropdown {
  display: none;
}
